.cover__overlay {
  background-color: #0000004d;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #ffffff;
}

.cover__overlay:hover {
  background-color: #000000cc;
  transition: linear .5s;
}