.cover__title {
  position: absolute;
  width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin-left: -280px;
  left: 50%;
  top: 26%;
  z-index: 2;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    top: 21.7%
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    top: 12.5%
  }
}

@media screen and (max-width: 670px) {
  .cover__title {
    width: 250px;
    margin-left: -125px;
    top: 12.5%;
    font-size: 32px;
    line-height: 35px;
  }
}
